<!DOCTYPE html>
<html>
    <head>
        <title>Band Entry</title>
    </head>
    <body>
        <h1>Band Entry Page</h1>
        {% for message in get_flashed_messages() %}
            <div>{{ message }}</div>
        {% endfor %}
        <form action="{{ url_for('enter_band') }}" method="post">
            {{ form.hidden_tag() }}
            {% for error in form.errors.name %}
                <span style="color: red;">{{error}}</span>
            {% endfor %}
            <dl>
                <dd><label for="artist">Artist name: </label>{{ form.name(size=60) }}
                <dd><input type="submit" value="Entry">
            </dl>
        </form>
    </body>
</html>
